<h1>New Post</h1>

<form class="post-create">
  <label>
    Title
    <input type="text" name="post[title]"/>
  </label>
  <br>
  <label>
    Body
    <input type="text" name="post[body]"/>
  </label>
  <br>
  <button id="post-submit">Submit</button>
</form>

<a href="#">Go Back To Index</a>
