<ul>
<% posts.each(function (post) { %>
  <a href="#/posts/<%= post.id %>"><%= post.get("title") %></a><br>
  <button data-id="<%= post.get("id") %>" class="destroy">Delete Post</button><br><br>
<% });  %>
</ul>